# env
.env
.env.*

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/

# tooling
.pytest_cache/
.mypy_cache/
ruff_cache/
.coverage
htmlcov/

# logs
*.log

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db